# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# Jupyter and Colab
.ipynb_checkpoints/
*.ipynb

# Data
data/saved_puzzles.json
gridcracker_ai/model/sudoku_ai.joblib

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
